### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
summer-common/summer-common.iml
manage-serve/manage-serve.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# Created by .ignore support plugin (hsz.mobi)
dist
build
final
*.bind
*.swo
*.tmp
id_rsa*
**build/
**/target/
.settings/
*.log
*.class
**/*.class
.classpath
.project
*.swp
bin/
.DS_Store

log/
db/
**/build-time.json
